* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

.d-flex {
    display: flex;
    align-items: center;
}

.fld-col {
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}